{% extends 'watchlist/base.html' %}

{% block content %}
<div class="grid">
  {% for watchlist_show in watchlist %}
  <div class="show">
    <header>
      <div>
        <img class="show_image" src="{{ watchlist_show.show.image_url }}">
      </div>
      <div>
        <a href="{% url 'show-details' watchlist_show.id %}">
          {{ watchlist_show }}
        </a>
      </div> 
      <div>
        {{ watchlist_show.show.rating }}
      </div>
    </header>
        <div>
          {{ watchlist_show.show.status }}
        </div>
        <div>
          {{ watchlist_show.watch_status }}
        </div>
      
    <footer><a href="{% url 'remove-from-watchlist' watchlist_show.id %}">remove</a> 
      <a href="{% url 'update-show-status' watchlist_show.id %}">update</a></footer>
  </div>
  {% endfor %}

  </div>

{% endblock %}